@import "tailwindcss";


@theme {
  --color-in-blue: #004569;
  --color-in-blue-light: #00BEB4;
  --color-in-orange: #FFB531;


  /* Gradients */
  --color-in-cyan: #d6f5f1;
  --color-in-white: #FFFFFF;
  


  /* Fuentes */
  --font-in-nunito: 'Nunito', sans-serif;
}


body {
  @apply font-in-nunito;
}	